<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>圖文留言板</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<h1>圖文留言板</h1>
<div id="message">留下你想說的話<input type="text" id="type-message"></div>
<div id="file">選擇一張圖片<input type="file" id="select-file" accept="image/*"></div>
<button id="send-btn">送出</button>
<hr>
<main></main>
<script type="text/javascript" src="/script.js"></script>
</body>
</html>